body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
}

/* Number buttons */
.css-common-button,
.css-common-symbols,
.css-top-symbols {
  color: white;
  border: none;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  vertical-align: middle;
}

.css-common-button {
  background-color: rgb(51, 51, 51);
}

.css-common-symbols {
  background-color: rgb(254, 160, 10);
}

.css-top-symbols {
  background-color: rgb(169, 166, 166);
}

/* All p elements */
.row {
  margin: 5px;
}

/* Top 3 buttons icons */
.css-clear-icon,
.css-plus-minus-icon,
.css-percent-icon {
  color: black;
  font-size: 10px;
  border-radius: 60px;
  width: 26px;
  height: 26px;
  font-weight: bold;
}

/* Symbols */
.css-symbol-divide,
.css-symbol-multiply,
.css-symbol-minus,
.css-symbol-plus,
.css-symbol-equals {
  font-size: 10px;
}

/* 0 button */
.css-button-0 {
  padding-right: 40px;
  padding-left: 10px;
  width: 57px;
}

.css-result {
  color: white;
  font-size: 20px;
  margin-left: 8px;
  margin-bottom: 8px;
}
